{% extends "auctions/layout.html" %}


{%block title%}
{{title}}
{%endblock%}


{% block body %}
    <h2>{{title}}</h2>
    <div class="row row-cols-1 row-cols-md-3 m-1">
      {% for auction in auctions%}
        <div class="col mb-4">
          <div class="card" >
            {%if auction.upload.name%}
              <img src="{{auction.upload.url}}" height=200 width=100 class="card-img-top">
            {%else%}
              <img src="media/images/question.png" height=200 class="align-self-center mr-3">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title"><a href="{% url 'listings' auction.id %}">{{auction.title}}</a></h5>
              <h6 class="card-subtitle mb-2 text-muted">{{auction.desc}}</h6>
              <p class="card-text">ListedPrice: ${{auction.price}}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Created:{{auction.date}}</small>
            </div>
          </div>
        </div>
      {% empty %}
        <h1>No Items to show.</h1>
      {% endfor %}    
    </div>  
{% endblock %}